{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <section class="text-center w-50 m-auto">

        <fieldset class="m-5">
            <legend class="h3 mb-3 font-weight-normal"><a href="{{ path('security_registration') }}"> Créer un utilisateur</a> |  Liste d'utilisateurs </legend>


        </fieldset>

    </section>
    </body>


{% endblock %}