{% extends 'base.html.twig' %}
{% block body %}
    <fieldset>
        <legend>Création Formation</legend>
        <div class="text-center">
            {{ form(formFormation) }}
            <a class="btn btn-outline-success m-2" href="">Générer</a>
        </div>
    </fieldset>



{% endblock %}