{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<fieldset>
    <legend class="">Bienvenue
        {% if  app.user.civilite == false %}
            Monsieur
        {% else %}
            Madame
        {% endif %}{{ app.user.nom}}
    </legend>

    <p>

    </p>
<div class="text-right">
    <a class="btn btn-outline-success m-2" href="{{ path('formation_create') }}">Ajouter une formation</a>
    <button type="button" class="btn btn-outline-danger m-2">Annuler la formation</button>
</div>
    <table class="text-center table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Début Formation</th>
                <th>Fin Formation</th>
                <th>Détails</th>
                <th>Sélection</th>
            </tr>
        </thead>
        <tbody>
            {% for formation in formations %}
                <tr>
                   <td>{{ formation.parcoursFormation.libelle }} </td>
                    <td>{{ formation.dateDebut | date('d/m/Y') }}</td>
                    <td> TODO (fin : a calculer début + durée)</td>
                    <td> TODO (détail : mettre chaque initial et en faire un lien détaillant la formation</td>
                    <td><input type="radio" name="selection"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</fieldset>
{% endblock %}
