<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Welcome!
            {% endblock %}
        </title>
        {% if app.user %}
        <li>
            <a href="{{ path('security_logout') }}">Déconnexion</a>
        </li>
            {% else %}
            <li>
                <a href="{{ path('app_login') }}">Connexion </a>
            </li>
        {% endif %}

        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>

        {% block body %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
